<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Hello, <%= user ? user.profile.name : "virtual traveler!" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img 
        src="<%= user.profile.avatar %>" 
        alt="<%= user.profile.name %> avatar"
      >
    </div>
    <br>
    <a href="/games">Choose a game here to get started!</a>
    <a href="/tasks">Choose a task here to get started!</a>
  <% } %>

  <h3>Welcome to Game Tasks! An application where you, the user, can keep track of the quests and progress made in your video game backlog on a daily basis.</h3>


  <p>I made this application as a video game enthusiast, drowning in a backlog of games that have been collecting dust over the years. I noticed it became  increasingly difficult to keep track of the progress I made in various video games, as my collection grew. Before I knew it, I had dozens of tasks and quests across dozens of different games that needed to be completed consistently on a daily basis, if I ever wanted to get full enjoyment out of my games. 
  </p>

  <p>This application was designed to help me keep track of daily tasks I need to tend to everyday if I ever wanted to complete even a single game, or achieve a high ranking level for me to thoroughly enjoy the gameplay. I hope you find this application helpful in your future virtual endeavors!</p>

  <% if (!user) { %>
  <h2>Login with google at the top of the page to get started</h2>
  <% } %>
</main>

<%- include('./partials/footer') %>
