<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1><%= title %></h1>
<form action="/tasks" method="POST">
  <input type="text" name="title" placeholder="Enter task to do here">
  <input type="checkbox" name="complete">
  <button type="submit">Create Task</button>
</form>

<ul>
  <% tasks.forEach(task => { %>
    <li>
      <%=task.title%> 
      <br>
      Completed: <%= task.complete? '✅' : '❌' %> 
    </li>

    <form action="/tasks/<%= task._id %>?_method=DELETE" method="POST">
      <a href="/tasks/<%= task._id %>">Update Task</a>
      <button type="submit">DELETE</button>

    </form>
  <% }) %>
</ul>


<%- include('../partials/footer') %>