<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<h1><%= title %></h1>
<form action="/games" method="POST">
  <input type="text" name="title" placeholder="Enter your game here">
  <input type="hidden" name="collectedBy" value="<%= user.profile._id %>">
  <input type="checkbox" name="complete">
  <button type="submit">Add Game</button>
</form>
<ul>
  <% games.forEach(game => { %>
    <li> 
      <%=game.title%> - Tasks Completed? <%= game.complete? '✅' : '❌' %>  
      <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
        <a href="/games/<%= game._id %>">Edit game and completion status</a>
        <button type="submit" class="warning">DELETE GAME</button>
  
      </form>
    </li>

    
  <% }) %>
</ul>


<%- include('../partials/footer') %>