<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1><%= title %></h1>

<form action="/games/<%= game._id %>?_method=PUT" method="POST">
  <input type="text" name="title" value="<%= game.title %>">
  <input type="checkbox" name="complete" <%= game.complete ? 'checked' : '' %>>
  <button type="submit">Update game</button>
</form>

<h2>Tasks</h2>
<% if (!tasks.length) { %>
  <p>You have no tasks!</p>
<% } %>
<ul>
  <% tasks.forEach(task => { %>
    <li>
      <a href="/tasks/<%= task._id %>"><%= task.title %></a> - Complete? <%= task.complete? '✅' : '❌' %>  
    </li>
  <% }) %>
</ul>

<form action="/tasks" method="POST">
  <input type="text" name="title" placeholder="Enter task to do here">
  <input type="hidden" name="game" value="<%= game._id %>">
  <input type="checkbox" name="complete">
  <button type="submit">Create Task</button>
</form>


<%- include('../partials/footer') %>